.sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background: var(--inverted-bg-color);
  position: relative;
  transition: width 0.3s;
  flex-shrink: 0;

  .switchers {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
    width: 100%;
  }

  .collapseBtn {
    position: absolute;
    right: calc(var(--font-line-l) * -1);
    bottom: var(--font-line-l);
  }

  .items {
    margin-top: 20px;

    //display: flex;
    //flex-direction: column;
    //gap: 15px;
    //align-items: flex-start;
    padding: 20px;
  }

}


.collapsed {
  width: var(--sidebar-width-collapsed);

  .switchers {
    display: flex;
    flex-direction: column;
  }

  .items {
    align-items: center;
  }
}

.sidebarRedesigned {
  background: var(--light-bg-redesigned);
  width: 220px;
  height: 100%;
  border-radius: 32px;
  position: relative;

  .appLogo {
    padding-top: 20px;
    margin-bottom: 20px;
  }


  .collapseBtn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: rotate(90deg);
    color: var(--icon-redesigned);
  }

  .switchers {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 100%;
  }

}

.collapsedRedesigned {
  width: 50px;

  .switchers {
    display: flex;
    flex-direction: column;
  }

  .items {
    display: flex;
    align-items: center;
  }

  .collapseBtn {
    transform: rotate(-90deg);
  }
}


