.item {
  display: flex;
  gap: 5px;
}

.icon {
  fill: var(--inverted-primary-color);
}

.iconRedesigned {
  color: var(--icon-redesigned);
}

.itemRedesigned {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 16px;
}

.collapsedRedesigned {
  padding: 0 8px;

  .link {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    width: 0;
    height: 0;
  }


}

.collapsed {
  .link {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    width: 0;
    height: 0;
  }
}

.active {
  background: linear-gradient(89.97deg, rgb(29 89 255 / 30%) 1.15%, rgb(94 211 243 / 0%) 99.97%);
  position: relative;
  border-left: 2px solid var(--accent-redesigned);

  //&::before {
  //  content: "";
  //  position: absolute;
  //  width: 2px;
  //  left: 0;
  //  background: var(--accent-redesigned);
  //  height: 100%;
  //}
}