.appLightTheme {
  --bg-color: #f6f6f6;
  --inverted-bg-color: #333;
  --primary-color: #101010;
  --secondary-color: #212840;
  --inverted-primary-color: #bbb;
  --inverted-secondary-color: #c6cae8;

  // skeleton
  --skeleton-color: #d1d1d1;
  --skeleton-shadow: #c6c6c6;

  // code
  --code-bg: #c3c3c3
}