.addonRight svg, .addonLeft svg {
  color: var(--hint-redesigned);
}

.button {
  cursor: pointer;
  padding: 6px 15px;
  color: var(--text-redesigned);
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    color: var(--accent-redesigned);
    border-color: var(--accent-redesigned);

    .addonLeft svg, .addonRight svg {
      color: var(--accent-redesigned);
    }
  }
}

.withAddon {
  padding: 0 16px;
}


.addonLeft, .addonRight {
  display: flex;
}


.clear {
  padding: 0;
  border: none;
  background: none;
  outline: none;
}

.filled {
  background: var(--light-bg-redesigned);
  border: none;
  outline: none;
  border-radius: 34px;
}

.outline {
  border: 1px solid var(--icon-redesigned);
  background: none;
  border-radius: 34px;
}

.square {
  padding: 0;
}

.square.sizeM {
  height: var(--font-line-m);
  width: var(--font-line-m);
}

.square.sizeL {
  height: var(--font-line-l);
  width: var(--font-line-l);
}

.square.sizeXL {
  height: var(--font-line-xl);
  width: var(--font-line-xl);
}

.sizeM {
  font: var(--font-m-redesigned);
}

.sizeL {
  font: var(--font-l-redesigned);
}

.sizeXL {
  font: var(--font-xl-redesigned);
}

.disabled {
  opacity: 0.5;
}

.fullWidth {
  width: 100%;
}