.inputWrapper {
  display: flex;
  align-items: center;
  border-radius: 48px;
  padding: 8px 16px;
  border: 1px solid var(--icon-redesigned);
  height: 32px;
  width: 100%;
}

.withAddonLeft {
  padding-left: 8px;
}

.withAddonRight {
  padding-right: 8px;
}

.addonLeft, .addonRight {
  display: flex;
  align-items: center;
}

.label {
  flex-shrink: 0;
}


.input {
  flex-grow: 1;
  background: none;
  outline-color: transparent;
  border: none;
  width: 100%;
  color: var(--text-redesigned);

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: var(--hint-redesigned);
  }
}

.readonly {
  opacity: 0.7;
}

.isFocused {
  border: 2px solid var(--accent-redesigned);

  .addonLeft svg, .addonRight svg {
    color: var(--accent-redesigned);
  }
}

.s {
  height: 32px
}

.m {
  height: 38px;
}

.l {
  height: 44px;
}
