.card {
  padding: 15px;
  border-radius: 12px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;


  &:hover {
    opacity: 0.8;
  }
}

.outline {
  border: 1px solid var(--primary-color);
}

.normal {
  background: var(--card-bg);
}